@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #222222;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}

.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}

.section-container section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.section-container section h3 {
  font-size: 40px;
  color: #fff;
  margin: 16px 0;
}

.section-container p {
  padding: 8px 0;
  color: #fff;
  text-align: center;
  margin: 10px;
}

.section-container .section-heading {
  width: 100%;
  text-align: center;
  border-top: 2px solid #53d7ee;
  border-bottom: 2px solid #53d7ee;
  margin-bottom: 10px;
}

.guildIcon {
  border-radius: 12px;
}

.guildName {
  color: #7289da;
}

.prefix {
  border-radius: 5px;
  color: #222222;
  background-color: #fff;
}

label {
  color: #fff;
  font-size: 1rem;
}

.btn {
  padding: 10px;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
  background-color: #222222;
  border-radius: 5px;
  font-size: 1rem;
}

.btn:hover {
  color: #222222;
  background-color: #fff;
  border: 2px solid #222222;
}

h4 {
  margin: 10px;
  color: #fff;
}

select {
  width: 150px;
  height: 25px;
  border: 0 !important;
  text-align: center;
  box-shadow: none;
  background: #23272a;
}

.save-btn {
  color: #fff;
  background: #222222;
  padding: 10px;
  margin: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 1rem;
}
