<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <link href="css/404.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
    <title>404 - Not Found</title>
  </head>
  <body>
    <div class="mainbox">
    <div class="err">4</div>
    <i class="far fa-question-circle fa-spin"></i>
    <div class="err2">4</div>
    <div class="msg">
      Page Not Found <br>
    <button class="button" onclick="home()">Home Page</button>
    </div>
      </div>
          <script>
      function home() {
        window.location.replace("/");
      }
    </script>
  </body>
</html>
